<form (ngSubmit)="submitMethod(refForm)" #refForm="ngForm" class="panel panel-default">
  <div class="panel-heading">
    <div>Add a Link</div>
  </div>
  <div class="panel-body">
    <div>
      <label for="title">Title:</label><br/>
      <input required ngModel name="title" #title="ngModel" name="title" />
      <div class="alert alert-danger w-120" *ngIf="!title.valid" >Title is requied!</div>
    </div>
    <div>
      <label for="link">Link:</label><br/>
      <input required ngModel name="link" #link="ngModel" name="link"/>
      <div class="alert alert-danger w-120" *ngIf="!link.valid">Link is requied!</div>
    </div>
  </div>
  <button class="btn btn-success" [disabled]="!refForm.valid">Submit link</button>
</form>
